@model NesMeet.Models.Classroom

@{
    ViewData["Title"] = "Details";

    var Trainees = (List<TraineeClassroom>)ViewData["Trainees"];
    var Topics = (List<Topic>)ViewData["Topics"];
}

<table class="table table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Code)</th>
        <th>@Html.DisplayNameFor(model => model.StartDate)</th>
        <th>@Html.DisplayNameFor(model => model.EndDate)</th>
    </tr>
    <tr>
        <th>@Html.DisplayFor(model => model.Code)</th>
        <th>@Html.DisplayFor(model => model.StartDate)</th>
        <th>@Html.DisplayFor(model => model.EndDate)</th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Semester)</th>
        <th>@Html.DisplayNameFor(model => model.Part)</th>
        <th>@Html.DisplayNameFor(model => model.Course.Code)</th>
    </tr>
    <tr>
        <th>@Html.DisplayFor(model => model.Semester)</th>
        <th>@Html.DisplayFor(model => model.Part)</th>
        <th>@Html.DisplayFor(model => model.Course.Code)</th>
    </tr>
</table>

<a asp-controller="Topic" asp-action="Create" asp-route-classroomId="@Model.Id" class="btn btn-success mb-2">Create Topic</a>

<table class="table">
    <tr>
        <th>Topic</th>
        <th>Trainer</th>
        <th>Email</th>
        <th></th>
    </tr>

    @if (Topics.Count() == 0)
    {
        <tr><td colspan="4">There is no topic.</td></tr>
}
    else
    {
        foreach (var topic in Topics)
        {
            <tr>
                <td>@topic.Name</td>
                <td>@topic.Trainer.FirstName @topic.Trainer.LastName</td>
                <td>@topic.Trainer.Email</td>
                <td>
                    <a asp-controller="Topic" asp-action="Edit" asp-route-id="@topic.Id">Edit</a>
                    <a asp-controller="Topic" asp-action="Delete" asp-route-id="@topic.Id">Delete</a>
                </td>
            </tr>
        }
    }
</table>

<a asp-action="AddToClassroom" asp-route-classroomId="@Model.Id" class="btn btn-success my-2">Add Trainees</a>

<table class="table">
    <tr>
        <th>Trainee</th>
        <th>Email</th>
        <th></th>
    </tr>

    @if (Trainees.Count() == 0)
    {
        <tr><td colspan="2">There is no trainee.</td></tr>
    }
    else
    {
        foreach (var trainee in Trainees)
        {
            <tr>
                <td>@trainee.Trainee.FirstName @trainee.Trainee.LastName</td>
                <td>@trainee.Trainee.Email</td>
            </tr>
        }
    }
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
